<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lynx_rover">

  <xacro:include filename="$(find lynxbot_description)/urdf/common_properties.urdf.xacro" />

  <!-- ydlidar Link -->

  <link name="laser_frame">

    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <inertia
          ixx="1e-6" ixy="0" ixz="0"
          iyy="1e-6" iyz="0"
          izz="1e-6"
      />
    </inertial>
    <visual>
      <geometry>
        
        <mesh filename="package://lynxbot_description/meshes/ydlidar.dae"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://lynxbot_description/meshes/ydlidar.dae"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
  </link>

  <joint type="fixed" name="ydlidar_joint">
    <origin xyz="${ydlidar_joint_x} 0 ${ydlidar_joint_z}" rpy="0 0 ${ydlidar_tilt}"/>
    <child link="laser_frame"/>
    <parent link="chassis"/>
  </joint>

</robot>
