<?xml version='1.0'?>

<robot name="lynx_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">

 <xacro:include filename="$(find lynxbot_description)/urdf/common_properties.urdf.xacro" />
 <xacro:include filename="$(find lynxbot_description)/urdf/arm/link_joint_macro.urdf.xacro" />
 <xacro:include filename="$(find lynxbot_description)/urdf/arm/transmissions.urdf.xacro" />

 <xacro:arg name="sim" default="false"/>
 <xacro:if value="$(arg sim)">
   <xacro:include filename="$(find lynxbot_description)/urdf/arm/my_arm.urdf.gazebo" />
 </xacro:if>


  <xacro:macro name="my_arm" params="parent arm_x arm_y arm_z ">

  <joint name="dum_joint" type="fixed">
    <parent link="${parent}"/>
    <child link="dummy"/>
    <origin xyz="${arm_x} ${arm_y} ${arm_z}" rpy="0 0 0"/>
  </joint>

  <link name="dummy"/>
  <joint name="dummy_joint" type="fixed">
    <parent link="dummy"/>
    <child link="arm_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <arm_link link_name="arm_base" length="0.04" radius="0.04"
              origin_xyz="0 0 0"
              origin_rpy="0 0 0"
              color_name = "blue"
              color = "0 0 1 1"
              mass = "0.5"/>





  <arm_link link_name="link_0" length="0.04" radius="0.01"
              origin_xyz="0.045 0 0.02"
              origin_rpy="0 0 0"
              color_name = "green"
              color = "0 1 0 1"
              mass = "0.1"/>


  <arm_joint joint_name="joint_0" parent="arm_base" child = "link_0"
               type = "revolute"
               origin_xyz = "0 0 0.02"
               origin_rpy = "0 0 0"
               axis_xyz = "0 0 1"
               axis_rpy = "0 0 0"
	       lower_limit = "-1.57"
               upper_limit = "1.57"/>



  <arm_link link_name="link_1" length="0.115" radius="0.014"
              origin_xyz="0 0 0.05525"
              origin_rpy="0 0 0"
              color_name = "red"
              color = "1 0 0 1"
              mass = "0.2"/>


  <arm_joint joint_name="joint_1" parent="link_0" child = "link_1"
               type = "revolute"
               origin_xyz = "0.045 0 0.04"
               origin_rpy = "0 0 0"
               axis_xyz = "0 1 0"
               axis_rpy = "0 0 0"
	       lower_limit = "-1.57"
               upper_limit = "1.57"/>


  <arm_link link_name="link_2" length="0.142" radius="0.01"
              origin_xyz="0 0 0.071"
              origin_rpy="0 0 0"
              color_name = "green"
              color = "0 0 1 1"
              mass = "0.2"/>


  <arm_joint joint_name="joint_2" parent="link_1" child = "link_2"
               type = "revolute"
               origin_xyz = "-0.02 0 0.115"
               origin_rpy = "0 0 0"
               axis_xyz = "0 1 0"
               axis_rpy = "0 0 0"
	       lower_limit = "1.0"
               upper_limit = "2.14"/>


  <arm_link link_name="link_3" length="0.02" radius="0.01"
              origin_xyz="0 0 0.01"
              origin_rpy="0 0 0"
              color_name = "red"
              color = "1 0 1 1"
              mass = "0.2"/>


  <arm_joint joint_name="joint_3" parent="link_2" child = "link_3"
               type = "revolute"
               origin_xyz = "0.0 0 0.142"
               origin_rpy = "0 0 0"
               axis_xyz = "0 0 1"
               axis_rpy = "0 0 0"
	       lower_limit = "-1.57"
               upper_limit = "1.57"/>

  <arm_link link_name="link_4" length="0.026" radius="0.007"
              origin_xyz="0 0 0.013"
              origin_rpy="0 0 0"
              color_name = "blue"
              color = "0 0 1 1"
              mass = "0.2"/>


  <arm_joint joint_name="joint_4" parent="link_3" child = "link_4"
               type = "revolute"
               origin_xyz = "0.0 0.0045 0.02"
               origin_rpy = "0 0 0"
               axis_xyz = "0 1 0"
               axis_rpy = "0 0 0"
	       lower_limit = "-1.57"
               upper_limit = "1.57"/>


  <arm_link link_name="link_5" length="0.006" radius="0.004"
              origin_xyz="0 0 0.003"
              origin_rpy="0 0 0"
              color_name = "green"
              color = "0 1 0 1"
              mass = "0.2"/>


  <arm_joint joint_name="joint_5" parent="link_4" child = "link_5"
               type = "revolute"
               origin_xyz = "-0.006 0 0.026"
               origin_rpy = "0 0 0"
               axis_xyz = "0 0 1"
               axis_rpy = "0 0 0"
	       lower_limit = "-1.57"
               upper_limit = "1.57"/>
</xacro:macro>

<xacro:macro name="my_ee" params="parent">
  <ee_link link_name="ee_base" size_x="0.012" size_y="0.004" size_z="0.05" 
              origin_xyz="0 0 0.004"
              origin_rpy="1.57 0 0"
              color_name = "green"
              color = "0 1 0 1"
              mass = "0.2"/>

  <arm_joint joint_name="joint_ee_base" parent="${parent}" child = "ee_base"
               type = "fixed"
               origin_xyz = "0 0 0.006"
               origin_rpy = "0 0 0"
               axis_xyz = "0 0 1"
               axis_rpy = "0 0 0"
	       lower_limit = "0"
               upper_limit = "0"/>

  <ee_link link_name="finger1" size_x="0.012" size_y="0.002" size_z="0.03"
              origin_xyz="0 0 0.015"
              origin_rpy="0 0 0"
              color_name = "green"
              color = "0 1 0 1"
              mass = "0.2"/>

  <arm_joint joint_name="joint_finger1" parent="ee_base" child = "finger1"
               type = "prismatic"
               origin_xyz = "0 -0.025 0.004"
               origin_rpy = "0 0 0"
               axis_xyz = "0 1 0"
               axis_rpy = "0 0 0"
	       lower_limit = "0.0"
               upper_limit = "0.025"/>


  <ee_link link_name="finger2" size_x="0.012" size_y="0.002" size_z="0.03"
              origin_xyz="0 0 0.015"
              origin_rpy="0 0 0"
              color_name = "green"
              color = "0 1 0 1"
              mass = "0.2"/>

  <arm_joint joint_name="joint_finger2" parent="ee_base" child = "finger2"
               type = "prismatic"
               origin_xyz = "0 0.025 0.004"
               origin_rpy = "0 0 ${M_PI}"
               axis_xyz = "0 1 0"
               axis_rpy = "0 0 0"
	       lower_limit = "0.0"
               upper_limit = "0.025"/>
</xacro:macro>


</robot>

