<?xml version="1.0"?>
<robot name="lynx_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">



    <transmission name="joint_0_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_0">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_joint_0">
        <mechanicalReduction>1</mechanicalReduction>
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>

    <transmission name="joint_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_joint_1">
        <mechanicalReduction>1</mechanicalReduction>
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>



    <transmission name="joint_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_2">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_joint_2">
        <mechanicalReduction>1</mechanicalReduction>
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>

    <transmission name="joint_3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_3">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_joint_3">
        <mechanicalReduction>1</mechanicalReduction>
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>

    <transmission name="joint_4_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_4">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_joint_4">
        <mechanicalReduction>1</mechanicalReduction>
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>

    <transmission name="joint_5_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_5">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_joint_5">
        <mechanicalReduction>1</mechanicalReduction>
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>

    <transmission name="joint_finger1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_finger1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_joint_finger1">
        <mechanicalReduction>1</mechanicalReduction>
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>

    <transmission name="joint_finger2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_finger2">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_joint_finger2">
        <mechanicalReduction>1</mechanicalReduction>
	<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>
</robot>
