<?xml version="1.0"?>
<launch>
  <arg name="sim" default="false"/>
  <!-- send urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lynxbot_description)/urdf/lynx_rover.urdf.xacro' sim:=$(arg sim)" />
  <group if="$(arg sim)">
       <param name="object_description" command="$(find xacro)/xacro --inorder '$(find lynxbot_description)/urdf/object.urdf.xacro' sim:=$(arg sim)" />
  </group>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lynxbot_description)/urdf/lynx_rover.urdf.xacro' sim:=$(arg sim)" />

  <!-- Send fake joint values-->
    <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <remap from="joint_states" to="joint_states"/>
      <param name="use_gui" value="true"/>
      <rosparam param="source_list">["joint_states"]</rosparam>
    </node-->

  <!-- Send robot states to tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    	<param name="publish_frequency" type="double" value="10.0" />
    </node>

</launch>

