<?xml version='1.0'?>

<robot name="lynx_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:include filename="$(find lynxbot_description)/urdf/common_properties.urdf.xacro" />

  <!--xacro:include filename="$(find lynxbot_description)/urdf/sensors/kinect.urdf.xacro" /-->
  <xacro:include filename="$(find lynxbot_description)/urdf/sensors/ydlidar.urdf.xacro" />
  <xacro:include filename="$(find lynxbot_description)/urdf/macros/wheels.urdf.xacro" />
  <xacro:include filename="$(find lynxbot_description)/urdf/sensor_bases.urdf.xacro" />
  <xacro:include filename="$(find lynxbot_description)/urdf/transmissions.urdf.xacro" />
  <xacro:include filename="$(find lynxbot_description)/urdf/sensors/kinect.urdf.xacro" />
  <xacro:include filename="$(find lynxbot_description)/urdf/macros/inertia_macros.urdf.xacro" />
  <!--xacro:include filename="$(find lynxbot_description)/urdf/macros/inertia_macros.urdf.xacro" /-->
  <xacro:arg name="sim" default="false"/>
  <xacro:if value="$(arg sim)">
    <!--xacro:include filename="$(find my_arm)/urdf/my_arm.urdf.gazebo" /-->
      <xacro:include filename="$(find lynxbot_description)/urdf/lynx_rover.urdf.gazebo" />
    </xacro:if>

  <xacro:include filename="$(find lynxbot_description)/urdf/arm/my_arm.urdf.xacro" />


  <link name="robot_footprint"></link>

  <joint name="robot_footprint_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="robot_footprint"/>
    <child link="chassis" />
  </joint>

  <link name='chassis'>


      <xacro:box_inertial x="${Length_base}" y="${Width_base}" z="${Height_base}" m="500">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:box_inertial>

    <collision name='collision'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/> 
      <geometry>
        <box size = "${Length_base} ${Width_base} ${Height_base}"/>
      </geometry>
    </collision>

    <visual name='chassis_visual'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      <geometry>
        <box size = "${Length_base} ${Width_base} ${Height_base}"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>

  </link>



  <wheel_link prefix="front_left"
              origin_xyz="0 0 0"
              origin_rpy="${M_PI/2} 0 0" />
  <wheel_link prefix="back_left"
              origin_xyz="0 0 0"
              origin_rpy="${M_PI/2} 0 0" />
  <wheel_link prefix="front_right"
              origin_xyz="0 0 0"
              origin_rpy="${M_PI/2} 0 0" />
  <wheel_link prefix="back_right"
              origin_xyz="0 0 0"
              origin_rpy="${M_PI/2} 0 0" />

  <wheel_joint prefix="front_left"
               origin_xyz="${wheel_joint_origin_x} ${wheel_joint_origin_y} ${wheel_joint_origin_z}"
               origin_rpy="0 0 0" />

  <wheel_joint prefix="back_left"
               origin_xyz="${-wheel_joint_origin_x} ${wheel_joint_origin_y} ${wheel_joint_origin_z}"
               origin_rpy="0 0 0" />

  <wheel_joint prefix="front_right"
               origin_xyz="${wheel_joint_origin_x} ${-wheel_joint_origin_y} ${wheel_joint_origin_z}"
               origin_rpy="0 0 0" />
  <wheel_joint prefix="back_right"
               origin_xyz="${-wheel_joint_origin_x} ${-wheel_joint_origin_y} ${wheel_joint_origin_z}"
               origin_rpy="0 0 0" />

  <wooden_base />
  <lidar_base />
  <kinect_base1 />
  <kinect_base2 />
  <!--sensor_kinect /-->
  <xacro:sensor_kinect parent="${kinect_parent}"  cam_px="${cam_px}" cam_py="${cam_py}" cam_pz="${cam_pz}"
                                              cam_or="${cam_or}" cam_op="${cam_op}" cam_oy="${cam_oy}"/>
  <xacro:my_arm parent="${arm_parent}" arm_x="${arm_x}" arm_y="${arm_y}" arm_z="${arm_z}" />
  <xacro:my_ee parent="${ee_parent}" />
</robot>

