<?xml version='1.0'?>

<robot name="simple_box" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find lynxbot_description)/urdf/macros/inertia_macros.urdf.xacro" />
  <link name="my_box">
      <xacro:box_inertial x="0.04" y="0.04" z="0.07" m="0.1">
        <origin xyz="2.0 0.0 0.0" rpy="0 0 0"/>
      </xacro:box_inertial>
    <visual>
      <origin xyz="2 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.07" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="2 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.07" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="my_box">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>
